In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("cars24-car-price.csv")

In [3]:
df.head()

,full_name,selling_price,year,seller_type,km_driven,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,2012.0,Individual,120000,Petrol,Manual,19.70,796.0,46.30,5.0
1,Hyundai Grand i10 Asta,5.50,2016.0,Individual,20000,Petrol,Manual,18.90,1197.0,82.00,5.0
2,Hyundai i20 Asta,2.15,2010.0,Individual,60000,Petrol,Manual,17.00,1197.0,80.00,5.0
3,Maruti Alto K10 2010-2014 VXI,2.26,2012.0,Individual,37000,Petrol,Manual,20.92,998.0,67.10,5.0
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,2015.0,Dealer,30000,Diesel,Manual,22.77,1498.0,98.59,5.0

In [4]:
#Since ye phle hi clean data hai 
#We need to check for Categorical fields
#Agar categorical field hua to usko change krna hoga

#There are two ways 
 #1)One hot encoding or Dummies
 #2)Two hot encoding or LABELLLING Encoding

In [5]:
#One hot Encoding means
#Collapse this into columns if there are k levels we wwill end up with k-1 levels

In [6]:
3One hot encoding to some extent make sense
#but we mus have to take a look at levels once

SyntaxError: invalid decimal literal (2660204821.py, line 1)

In [6]:
df.make.value_counts

AttributeError: 'DataFrame' object has no attribute 'make'

In [16]:
print(df.columns)

Index(['full_name', 'selling_price', 'year', 'seller_type', 'km_driven',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats'],
      dtype='object')

In [17]:
df.full_name.value_counts()

full_name
Maruti Swift Dzire VDI                 210
Maruti Alto 800 LXI                    189
Maruti Wagon R VXI                     164
Maruti Swift VDI                       150
Maruti Alto K10 VXI                    121
                                      ...
Tata Tiago 2019-2020 XM                  1
Ford Fiesta Petrol Style                 1
Hyundai Santro Xing XL eRLX Euro II      1
Maruti Esteem VX - BSII                  1
Toyota Yaris V Optional CVT BSIV         1
Name: count, Length: 3321, dtype: int64

In [ ]:
#It is too many and for some of them i hardly have 1 2 cars which is very tough for one hot enc

In [7]:
#Like for training like rols royce is 1 how would model learn from it

In [ ]:
#Converting this varibale to 1 hot encoding doesnt make that much sense
#It is also worse because columns are not in proper column from

In [ ]:
df.drop[""]